<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>{% block title %}El Admin{% endblock %} | El Admin</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css">
  {% block extra_css %}{% endblock %}
  <style>.badge[class*="bg-"]:not([class*="-lt"]) { color: #fff !important; }</style>
</head>
<body class="antialiased">
  <div class="wrapper">
    {% block body %}{% endblock %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/tabler.min.js"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
